<ag-grid-angular
    style="width: 500px; height: 500px;"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    #agGrid
>
</ag-grid-angular>
<div class="container-fluid">
  <h2>Registration Form</h2>
  <form [formGroup]="registrationForm">
    <div class="form-group">
      <label>Make</label>
      <input id="make" formControlName="make" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Model</label>
      <input formControlName="model" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label>Price</label>
      <input formControlName="price" type="number" class="form-control">
      </div>
      <button (click)="Add()" class="btn btn-secondary ml-2" type="button">Add Data</button>
      </form>
      </div>